.body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    flex-direction: column;
    /* align-content: space-around; */
}

.nav{
    border: 6px solid bisque;
    width: 100%;
    display: flex;
    justify-content: space-around; 
}